Firmware/**/*.c linguist-language=C
Firmware/**/*.h linguist-language=C

Hardware/** linguist-vendored
Web/** linguist-vendored
*.sch linguist-vendored
*.pcb linguist-vendored

*.js linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
