# 前端网页代码不参与语言统计
Web/** linguist-vendored=true
# 硬件原理图、资料不计入统计
Hardware/** linguist-vendored=true

# 强制把Firmware下所有文件识别为C语言
Firmware/** linguist-language=C

# 兜底：仓库其余位置的JS全部忽略
*.js linguist-vendored=true
